* {
  Box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}
body{
  background-color: #071e3d;
  margin: 0;
  padding: 0;
}
.contengotodo {
  width: 100%;
  background-color: #071e3d;
position: relative;
}
/*cosas para el nav */
.Estoesdemobile{
  display: none;
}
.navmobile {
  display: none;
}
nav {
  display: flex;
  background-color: #278ea5;
  position: relative;
  flex: wrap;
  opacity: 0.8;
  width: 100%;
  padding-top: 0.5%;
}
nav ul {
  margin-top: 15px;
  display: flex;
  flex: wrap;
  width: 100%;
  position: fixed;
  color: #278ea5;
  position: relative;
}
nav ul li {
  list-style-type: none;
  color: white;
  flex-wrap: wrap;
  width: 10%;
}
nav ul li a {
  text-decoration: none;
  flex-wrap:wrap;
  color: white;
  position: absolute;
}
nav ul li a:hover {
  color: #071E3D;
  text-decoration: none;
}
.search {
  margin-left: 30%;
  position: relative;

}
.lupa {
  position: absolute;
  right: 5px;
}
.LOGIN {
  margin-left: 4%;
  margin-right: -2%;
}
.REGISTER {
  margin-left: 0%;
  justify-content:
  right: 2%;
}
.FAQ {
  margin-left: 3%;
}
.ABOUTUS {
  margin-left: -1%;
}
/*empieza menu de generos*/
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 600px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 5px;

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 25%;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-wrap: wrap;
}

.drop {
  color: white;
  text-decoration: none;
}

.dropdown a:hover {
  color: red;
}
/*termina menu de generos*/
/*termina nav*/
/* empieza carrusel estrenos*/
.uk-pannel {
bottom: 2%;
}

.estrenos {

  position: relative;
  background-color:#071e3d;
}
/* aca empiezan los carruseles*/
.uk-panel {
  margin-bottom: 6%;
}
.uk-panel img {

  width: 60%;
  color: rgba(255, 0, 0, 1);
  box-shadow: 0 5px 10px rgba(0,0,0,1);
  position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;

}
.uk-panel img:hover{
  width: 61%;
}

.populares h1 {
  color: white;
  background-color: #071e3d;
  font-size: 30px;
  margin-top: 1%;
  margin-bottom: 2%;
  z-index: 46;
}
.populares {
  background-color:rgba(0, 0, 179, 0.3);
}
.imagenespopu{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.imagenespopu img {
  width: 15%;
  margin-bottom: 1%;
  margin-top: -1%;

}
/*termina carrusel popular */
/*empeiza carrusel recomendadi*/
.recomendadas h1 {
  color: white;
  background-color: #071e3d;
  font-size: 30px;
  margin-top: 1%;
  margin-bottom: 2%;
}
.recomendadas {
  background-color:rgba(0, 0, 179, 0.3);
}
.imgrecomendadas{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.imgrecomendadas img {
  width: 15%;
  margin-bottom: 1%;
  margin-top: -1%;
}
/*termina carrusel recomendadi*/
/* empieza carrusel en emision */

.emision h1 {
  color: white;
  background-color: #071e3d;
  font-size: 30px;
  margin-top: 1%;
  margin-bottom: 2%;
}
.emision {
  background-color: rgba(0, 0, 179, 0.3);

}
.imgemision{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
}
/* Termina carrusel en emision */
/* empiezo footer*/
.footer-container { /*PONER Z-INDEX PARA Q SE VEA */
  background-color: #278ea5;
  width: 100%;
  top: 100%;
  border-radius: 5% 5% 0% 0%;

  margin: 0 auto;
  padding: 32px 12px 12px 12px;
  display: flex;
  bottom: 0%;
  border-radius: 20 20 0 0;

}

.footer-nav {
  display: flex;
  flex: 2 1 auto;
  flex-flow: wrap;

}

.columnaizq {
  margin-left: 2%;
  display: flex;
  flex-flow: column wrap;
}
.columnaizq p {
  margin-top: inherit;
  color: white;
}
.columnaizq p a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.columnader {
  display: flex;
  flex-flow: column wrap;
  margin-left: 25%;
  color: white;
  font-size: 20px;
}
.columnader h5 {
  margin-bottom: 0;
  margin-top: inherit;
}
.footer-p {
  margin-bottom: 0;
}

.follow{
  color: white;
  font-size: 20px;
  margin-bottom: 0%;
  margin-left: 37%;
}
.follow p {
  margin: 0;
  width: 100%;
}
footer a:hover {
  color: blue;

}
.derechos {
  width: 60px;
  margin-left: 15px;
}
.contengoderechos {
display: flex;
}
.twitter {
  margin-left: 3px;
}
@media (max-width: 769px) {
   nav {
display: none;
  }
  .navmobile {
    display: block;
    width: 10%;
    position: absolute;
    left: 0%;
    top: 0%;
  }
   h1 {
    text-align: center;
  }
  .navmobile ul li {
    list-style-type: none;
  }
  .navmobile ul li a  {
    text-decoration: none;
  }
  .navmobile .form-search {
    top: 20%;
    right: 0%;
  }
  .Estoesdemobile {
   position: relative;
   height: 110px;
  }
  .Estoesdemobile img {
    width: 30%;
    right: 35%;
position: absolute;
    align-items: center;
  }
  ul li a:hover {
    color: #071E3D;
    text-decoration: none;
  }
footer {

}
}
