
/* MOBILE */
@media (max-width: 500px) {
   nav {
display: none;
  }
  .navmobile {
    display: block;
    width: 10%;
    position: absolute;
    left: 0%;
    top: 0%;
  }
   h1 {
    text-align: center;
  }
  .navmobile ul li {
    list-style-type: none;
  }
  .navmobile ul li a  {
    text-decoration: none;
  }
  .navmobile .form-search {
    top: 30%;
    right: 0%;
  }

  .Estoesdemobile {
   position: relative;
   height: 110px;
  }
  .Estoesdemobile img {
    width: 30%;
    right: 35%;
position: absolute;
    align-items: center;
  }

  ul li a:hover {
    color: #071E3D;
    text-decoration: none;
  }
footer {
display: none;
}
.dropdown-content a  {
  background-color: black;
  width: 100%;
}

  .footer-container {
    display: flex;
    flex-direction: column;
  }
  .footer-nav {
      font-size: 1pm;
      display: flex;
  }
  .columnader {
    display: none;
}
}
/*tablet
@media (min-width:501px) and (max-width: 800px) {
 .footer-container {
    display: flex;
    flex-direction: row;
  }
 .footer-nav {
     font-size: 5px;
     display: flex;
  }

}
*/
