* {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
.todo {
  width: 100%;
  position: relative;
  height: 1100px;
}
.todo .formulario {
  width: 60%;
  background-color: #f1f1f1;
  position: absolute;
  left: 20%;
  top: 8%;
}
.uk-button {
  background-color: grey;
  color: white;
}
.oculto{
  position: relative;
  top: 45%;
color: white;
justify-content:center;
background-color: #232931;
display:none;
}
.oculto h1 {
  color: white;
  top: 65%;
  width: 100%;
}
.oculto img {
width: 22.5%;
margin: 10px 15px 10px 15px;
}
.oculto img:hover{
  border:2px solid #4ecca3;
  border-radius: 5px;
}
@media (max-width: 769px) {
.oculto img {
  width: 60%;
}
  }
