.formulario {
  position: relative;
  background-color: white;
  bottom: 50%;
}
form {
  width: 50%;
  background-color:lightgrey;
  position: absolute;
  left: 25%;
  top: 19%;
height: 500px;
}
.uk-button {
  background-color: grey;
  color: white;

}
